<div class="login">
  <table>
    <tr>
      <th>Nombre</th>
      <td>
        <%= @especialista.nombre %>
      </td>
    </tr>
    <tr>
      <th>Tema</th>
      <td>
        <%= @especialista.descriptor_generico.descriptorGenerico %>
      </td>
    </tr>
    <tr>
      <th>Telefono</th>
      <td>
        <%= @especialista.telefono %>
      </td>
    </tr>
    <tr>
      <th>Celular</th>
      <td>
        <%= @especialista.celular %>
      </td>
    </tr>
    <tr>
      <th>Perfil</th>
      <td>
        <%= @especialista.perfil %>
      </td>
    </tr>
    <tr>
      <th>Publicacion</th>
      <td>
        <%= @especialista.publicacion %>
      </td>
    </tr>
    <tr>
      <th>Profesion</th>
      <td>
        <%= @especialista.profesion %>
      </td>
    </tr>
    <tr>
      <th>Especialidad</th>
      <td>
        <%= @especialista.especialidad %>
      </td>
    </tr>
    <tr>
      <th>Lugar</th>
      <td>
        <%= @especialista.lugar %>
      </td>
    </tr>
    <tr>
      <th>Correo Electronico</th>
      <td>
        <%= @especialista.email %>
      </td>
    </tr>
    <tr>
      <th>Pagina Web</th>
      <td>
        <%= @especialista.paginaWeb %>
      </td>
    </tr>
  </table>
</div>