<div class="login">
<table>
  <tr>
    <th>Instituci&oacute;n</td>
    <td>
      <%= @institucion.institucion %>
    </td>
  </tr>
  <tr>
    <th>Sigla</td>
    <td>
      <%= @institucion.sigla %>
    </td>
  </tr>
  <tr>
    <th>Tipo de Medio</td>
    <td>
      <%= @institucion.tipo_medio.tipoMedio %>
    </td>
  </tr>
  <tr>
    <th>Departamento</td>
    <td>
      <%= @institucion.departamento_bolivia.departamento %>
    </td>
  </tr>
  <tr>
    <th>Direcci&oacute;n</td>
    <td>
      <%= @institucion.direccion %>
    </td>
  </tr>
  <tr>
    <th>Tel&eacute;fono</td>
    <td>
      <%= @institucion.telefono %>
    </td>
  </tr>
  <tr>
    <th>Fax</td>
    <td>
      <%= @institucion.fax %>
    </td>
  </tr>
  <tr>
    <th>Casilla</td>
    <td>
      <%= @institucion.casilla %>
    </td>
  </tr>
  <tr>
    <th>Correo Electr&oacute;nico</td>
    <td>
      <%= @institucion.email %>
    </td>
  </tr>
  <tr>
    <th>Pagina Web</td>
    <td>
      <%= @institucion.paginaWeb %>
    </td>
  </tr>
</table>
</div>