<div class="login">
<table>
  <tr>
    <th>Departamento</th>
    <td>
      <%= @ministerio.departamento_bolivia.departamento %>
    </td>
  </tr>
  <tr>
    <th>Ministerio</th>
    <td>
      <%= @ministerio.ministerio %>
    </td>
  </tr>
  <tr>
    <th>Responsable</th>
    <td>
      <%= @ministerio.responsable %>
    </td>
  </tr>
  <tr>
    <th>Direccion</th>
    <td>
      <%= @ministerio.direccion %>
    </td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>
      <%= @ministerio.telefono %>
    </td>
  </tr>
  <tr>
    <th>Celular</th>
    <td>
      <%= @ministerio.celular %>
    </td>
  </tr>
  <tr>
    <th>Fax</th>
    <td>
      <%= @ministerio.fax %>
    </td>
  </tr>
  <tr>
    <th>Casilla</th>
    <td>
      <%= @ministerio.casilla %>
    </td>
  </tr>
  <tr>
    <th>Correo Electronico</th>
    <td>
      <%= @ministerio.email %>
    </td>
  </tr>
  <tr>
    <th>Pagina Web</th>
    <td>
      <%= @ministerio.paginaWeb %>
    </td>
  </tr>
</table>
</div>