<div class="login">
<table>
  <tr>
    <th>Departamento</td>
    <td>
      <%= @prefecto.departamento_bolivia.departamento %>
    </td>
  </tr>
  <tr>
    <th>Nombre</td>
    <td>
      <%= @prefecto.nombre %>
    </td>
  </tr>
  <tr>
    <th>Tel&eacute;fono</td>
    <td>
      <%= @prefecto.telefono %>
    </td>
  </tr>
  <tr>
    <th>Celular</td>
    <td>
      <%= @prefecto.celular %>
    </td>
  </tr>
  <tr>
    <th>Fax</td>
    <td>
      <%= @prefecto.fax %>
    </td>
  </tr>
  <tr>
    <th>Direcci&oacute;n</td>
    <td>
      <%= @prefecto.direccion %>
    </td>
  </tr>
  <tr>
    <th>Correo Electr&oacute;nico</td>
    <td>
      <%= @prefecto.email %>
    </td>
  </tr>
  <tr>
    <th>Pagina Web</td>
    <td>
      <%= @prefecto.paginaWeb %>
    </td>
  </tr>
</table>
</div>