<h1>Listing tipo_institucions</h1>

<table>
  <tr>
    <th>Tipoinstitucion</th>
  </tr>

<% for tipo_institucion in @tipo_institucions %>
  <tr>
    <td><%=h tipo_institucion.tipoInstitucion %></td>
    <td><%= link_to 'Mostrar', tipo_institucion %></td>
    <td><%= link_to 'Edit', edit_tipo_institucion_path(tipo_institucion) %></td>
    <td><%= link_to 'Destroy', tipo_institucion, :confirm => 'Esta seguro de borrarlo?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tipo_institucion', new_tipo_institucion_path %>
