<h1>Listing descriptor_genericos</h1>

<table>
  <tr>
    <th>Descriptorgenerico</th>
  </tr>

<% for descriptor_generico in @descriptor_genericos %>
  <tr>
    <td><%=h descriptor_generico.descriptorGenerico %></td>
    <td><%= link_to 'Mostrar', descriptor_generico %></td>
    <td><%= link_to 'Edit', edit_descriptor_generico_path(descriptor_generico) %></td>
    <td><%= link_to 'Destroy', descriptor_generico, :confirm => 'Esta seguro de borrarlo?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New descriptor_generico', new_descriptor_generico_path %>
