<h1>Directorio de alcaldes</h1>
<% form_tag({:action => "index"}, :method => :get) do %>
  <%= buscar_departamento_admin_tag %> 
<% end %>
<p>
  <%= link_to 'Nuevo alcalde', new_admin_alcalde_path %> | <%= link_to(image_tag('print.gif', :title => "Imprimir listado de alcaldes"), formatted_admin_alcaldes_path(:print), :target => '_blank')%>
</p>
<table>
<tr>
  <th>#</th>
  <th>Nombre</th>
  <th>Municipio</th>
  <th>Departamento</th>
  <th>Partido Politico</th>
</tr>
<% numero = params[:page].nil? ? 0 : (params[:page].to_i - 1) %>
<% contador = 0 %>
<% for alcalde in @alcaldes %>
  <tr class="<%= cycle('odd','par') %>">
      <%contador +=1 %>
      <td><%= (numero*20 + contador) %></td>
    <td><%=h alcalde.nombre %></td>
    <td><%=h alcalde.municipio.municipio %></td>
    <td><%=h alcalde.departamento.departamento %></td>
    <td><%=h alcalde.partido_politico.sigla if !alcalde.partido_politico.nil?  %></td>
    <td><%= link_to 'Mostrar', admin_alcalde_path(alcalde) %></td>
    <td><%= link_to 'Editar', edit_admin_alcalde_path(alcalde) %></td>
    <td><%= link_to 'Borrar', admin_alcalde_path(alcalde), :confirm => 'Esta seguro de borrar este elemento?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @alcaldes %>
<br />
<p>
  <%= link_to 'Nuevo alcalde', new_admin_alcalde_path %>
</p>