<h1>Listado de bibliografias</h1>
<% form_tag({:action => "index"}, :method => :get) do %>
<%= buscar_generico_admin_tag %> 
<% end %>
<p><%= link_to 'Nueva bibliografia', new_admin_bibliografia_path %></p>
<table>
  <tr>
    <th>#</th>
    <th>Descriptor Generico</th>
    <th>Autor</th>
    <th>Titulo</th>
  </tr>
  <% numero = params[:page].nil? ? 0 : (params[:page].to_i - 1) %>
  <% contador = 0 %>
  <% for bibliografia in @bibliografias %>
    <tr class="<%= cycle('odd','par') %>">
      <%contador +=1 %>
      <td><%= (numero*20 + contador) %></td>
      <td><%=h bibliografia.descriptor %></td>
      <td><%=h bibliografia.autor %></td>
      <td><%=h bibliografia.titulo %></td>
      <td><%= link_to 'Mostrar', admin_bibliografia_path(bibliografia.idBibliografia) %></td>
      <td><%= link_to 'Editar', edit_admin_bibliografia_path(bibliografia.idBibliografia) %></td>
      <td><%= link_to 'Borrar',admin_bibliografia_path(bibliografia.idBibliografia), :confirm => 'Esta seguro de borrar este elemento?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @bibliografias %>
<br />

<%= link_to 'Nueva bibliografia', new_admin_bibliografia_path %>
