<table class="Panel" align="center" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td width="10" class="Panel_estilo1_left"></td>
      <td width="380" bgcolor="#D0F7CA" style="width:100%;padding:5px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000099;"><h4 style="margin:0;">Valores Noticia</h4> </td>
      <td width="8" class="Panel_estilo1_right"></td>
    </tr>
    <tr>
      <td class="Panel_estilo1_sombra" colspan="3">
        <table border="0" cellpadding="0" cellspacing="0">
          <% for valor in ValorNoticia.find(:all, :limit => 2, :order => 'idValorNoticia DESC') %>
            <tr>
              <td>
                <img src="<%= SITE_URL %>/archivos/valorNoticia/imagen/<%= valor.imagen.filename %>" border=0 align="left" width="60" height="70" style="padding-right:10px">
                <%= link_to(@coder.encode(valor.titulo, :named) ,SITE_URL + "/biblioteca/valor_noticia/" + valor.id.to_s , :class => 'enlaceTitulo_ficha') %>
                <%= valor.descripcion.sub(/<p>/i,"<p align='justify'>") %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td style="color: #AAA;font-size: 0.6em;"><p align="center"  style="padding:5px; margin:0px;">Estas recibiendo este bolet&iacute;n por que estas registrado en el <a href="<%= SITE_URL %>" target="_blank"><%= SITE_NAME %></a>.</p>
            <p align="center" style="padding:5px; margin:0px;">El Banco Tem&aacute;tico es una iniciativa de la <a href="http://unirbolivia.org/" target="_blank">Fundaci&oacute;n Unir</a>. </p></td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>