<p>
  <b>Ministerio:</b>
  <%=h @ministerio.ministerio %>
</p>

<p>
  <b>Responsable:</b>
  <%=h @ministerio.responsable %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @ministerio.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @ministerio.telefono %>
</p>

<p>
  <b>Celular:</b>
  <%=h @ministerio.celular %>
</p>

<p>
  <b>Fax:</b>
  <%=h @ministerio.fax %>
</p>

<p>
  <b>Casilla:</b>
  <%=h @ministerio.casilla %>
</p>

<p>
  <b>Email:</b>
  <%=h @ministerio.email %>
</p>

<p>
  <b>Paginaweb:</b>
  <%=h @ministerio.paginaWeb %>
</p>


<%= link_to 'Editar', edit_ministerio_path(@ministerio) %> |
<%= link_to 'Ir al listado', ministerios_path %>
