<h1>Editar  prefecto</h1>

<%= error_messages_for :prefecto %>

<% form_for(@prefecto) do |f| %>
  <p>
    <b>Nombre</b><br />
    <%= f.text_field :nombre %>
  </p>

  <p>
    <b>Telefono</b><br />
    <%= f.text_field :telefono %>
  </p>

  <p>
    <b>Celular</b><br />
    <%= f.text_field :celular %>
  </p>

  <p>
    <b>Fax</b><br />
    <%= f.text_field :fax %>
  </p>

  <p>
    <b>Direccion</b><br />
    <%= f.text_field :direccion %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Paginaweb</b><br />
    <%= f.text_field :paginaWeb %>
  </p>

  <p>
    <%= f.submit "Actualizar" %>
  </p>
<% end %>

<%= link_to 'Mostrar', @prefecto %> |
<%= link_to 'Ir al listado', prefectos_path %>
