<h1>Lista de palabras claves</h1>

<%= error_messages_for :tag %>

<% form_for(@tag, :url => admin_tags_path) do |f| %>
  <p>
    <b>Escriba la palabra clave:</b><br />
    <%= f.text_field :descripcion %>    
    <%= f.submit "Guardar palabra clave" %>    
  </p>
<% end %>

<p>
  
  <%= link_to 'Actualizar ocurrencias&enlazados', :action => :contar %> | 
  <%= link_to 'Guardar todos los links', :action => :guardar_todo %>
</p>

<ul id="tags_list"></ul>
<div id ="tags_lista">
  <% if @tags_nuevos.length != 0 %>
    <h2>Nuevas palabras claves:</h2>
    <p><% for tag in @tags_nuevos %>
        | <strong style="color:red"><%= tag.descripcion %></strong> 
      <% end %> |   
    <% end %></p>
    <%= render :partial => 'list'%>  
</div>
<%= observe_field :tag_descripcion,
  :frequency => 1.5,
  :url => buscar_admin_tags_path,
  :update=> :tags_list,                  
  :with => :descripcion,
  :method => :get,
  :position => :top%>
