<p>
  <b>Nombre:</b>
  <%=h @especialista.nombre %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @especialista.telefono %>
</p>

<p>
  <b>Celular:</b>
  <%=h @especialista.celular %>
</p>

<p>
  <b>Perfil:</b>
  <%=h @especialista.perfil %>
</p>

<p>
  <b>Publicacion:</b>
  <%=h @especialista.publicacion %>
</p>

<p>
  <b>Profesion:</b>
  <%=h @especialista.profesion %>
</p>

<p>
  <b>Especialidad:</b>
  <%=h @especialista.especialidad %>
</p>

<p>
  <b>Lugar:</b>
  <%=h @especialista.lugar %>
</p>

<p>
  <b>Email:</b>
  <%=h @especialista.email %>
</p>

<p>
  <b>Paginaweb:</b>
  <%=h @especialista.paginaWeb %>
</p>


<%= link_to 'Editar', edit_especialista_path(@especialista) %> |
<%= link_to 'Ir al listado', especialistas_path %>
