<h1>Listado de glosarios</h1>
<% form_tag({:action => "index"}, :method => :get) do %>
  <%= buscar_generico_admin_tag %> 
<% end %>
<p>
  <%= link_to 'Nuevo glosario', new_admin_glosario_path %>
</p>
<table>
  <tr>
    <th>#</th>
    <th>Descriptor Generico</th>
    <th>Concepto</th>
    <th>Definicion</th>
  </tr>
  <% numero = params[:page].nil? ? 0 : (params[:page].to_i - 1) %>
  <% contador = 0 %>
  <% for glosario in @glosarios %>
    <tr class="<%= cycle('odd','par') %>">
      <%contador +=1 %>
      <td><%= (numero*20 + contador) %></td>
      <td><%=h glosario.descriptor %></td>
      <td><%=h glosario.concepto %></td>
      <td><%= truncate(glosario.definicion, 100) %></td>
      <td><%= link_to 'Mostrar', admin_glosario_path(glosario) %></td>
      <td><%= link_to 'Editar', edit_admin_glosario_path(glosario) %></td>
      <td><%= link_to 'Borrar', admin_glosario_path(glosario), :confirm => 'Esta seguro de borrar este elemento?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @glosario%>
<br />
<p>
  <%= link_to 'Nuevo glosario', new_admin_glosario_path %>
</p>
