<h1>Listado de prefectos</h1>
<table>
  <tr>
    <th>#</th>
    <th>Departamento</th>
    <th>Nombre</th>
    <th>Telefono</th>
  </tr>
  <% numero = params[:page].nil? ? 0 : (params[:page].to_i - 1) %>
  <% contador = 0 %>
  <% for prefecto in @prefectos %>
    <tr class="<%= cycle('odd','par') %>">
      <%contador +=1 %>
      <td><%= (numero*20 + contador) %></td>
      <td><%=h prefecto.departamento_bolivia.departamento %></td>
      <td><%=h prefecto.nombre %></td>
      <td><%=h prefecto.telefono %></td>
      <td><%= link_to 'Mostrar', admin_prefecto_path(prefecto) %></td>
      <td><%= link_to 'Editar', edit_admin_prefecto_path(prefecto) %></td>
      <td><%= link_to 'Borrar', admin_prefecto_path(prefecto), :confirm => 'Esta seguro de borrar este elemento?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'Nuevo prefecto', new_admin_prefecto_path %>
