<h1>Nuevo primera_mano</h1>

<%= error_messages_for :primera_mano %>

<% form_for(@primera_mano) do |f| %>
  <p>
    <b>Titular</b><br />
    <%= f.text_field :titular %>
  </p>

  <p>
    <b>Presentacion</b><br />
    <%= f.text_area :presentacion %>
  </p>

  <p>
    <b>Fecha</b><br />
    <%= f.date_select :fecha %>
  </p>

  <p>
    <b>Archivo1</b><br />
    <%= f.text_field :archivo1 %>
  </p>

  <p>
    <%= f.submit "Crear" %>
  </p>
<% end %>

<%= link_to 'Ir al listado', primera_manos_path %>
