<h1>Listado de Instituciones</h1>
<% form_tag({:action => 'index'}, :method => :get) do %>
  Buscar: <%= text_field_tag :busqueda, params[:busqueda] %>
  <input type="submit" value="Buscar"> 
<% end %>
<p>
  <%= link_to 'Nueva institucion', new_admin_institucion_path %> | <%= link_to(image_tag('print.gif', :title => "Imprimir listado de Instituciones"), formatted_admin_institucions_path(:print))%>
</p>
<table>
  <tr>
    <th>#</th>
    <th>Institucion</th>
    <th>Sigla</th>
    <th>Direccion</th>
  </tr>
  <% numero = params[:page].nil? ? 0 : (params[:page].to_i - 1) %>
  <% contador = 0 %>
  <% for institucion in @institucions %>
    <tr class="<%= cycle('odd','par') %>">
      <%contador +=1 %>
      <td><%= (numero*20 + contador) %></td>
      <td><%=h institucion.institucion %></td>
      <td><%=h institucion.sigla %></td>
      <td><%=h institucion.direccion %></td>
      <td><%= link_to 'Mostrar', admin_institucion_path(institucion) %></td>
      <td><%= link_to 'Editar', edit_admin_institucion_path(institucion) %></td>
      <td><%= link_to 'Borrar', admin_institucion_path(institucion), :confirm => 'Esta seguro de borrar este elemento?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @institucions%>
<p>
  <%= link_to 'Nueva institucion', new_admin_institucion_path %>
</p>