<h1>Nuevo institucion</h1>

<%= error_messages_for :institucion %>

<% form_for(@institucion, :url => admin_institucions_path) do |f| %>
  <table class="no_flash">
    <tr>
      <th>Departamento<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.select :idDepartamento, DepartamentoBolivia.find(:all, :order => 'departamento').collect { |c| [c.departamento, c.idDepartamento] } %>
      </td>
    </tr>
    <tr>
      <th>Nombre de la institucion<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.text_field :institucion, :size => 80 %>
      </td>
    </tr>
    <tr>
      <th>Tipo de la institucion<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.select :idTipoInstitucion, TipoInstitucion.find(:all).collect { |p| [p.tipoInstitucion, p.idTipoInstitucion]} %>
      </td>
    </tr>
    <tr>
      <th>Sigla<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.text_field :sigla, :size => 80 %>
      </td>
    </tr>
    <tr>
      <th>Direccion<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.text_field :direccion, :size => 80 %>
      </td>
    </tr>
    <tr>
      <th>Telefono<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.text_field :telefono, :size => 80 %>
      </td>
    </tr>
    <tr>
      <th>Fax<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.text_field :fax, :size => 80 %>
      </td>
    </tr>
    <tr>
      <th>Casilla<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.text_field :casilla, :size => 80 %>
      </td>
    </tr>
    <tr>
      <th>Correo electronico<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.text_field :email, :size => 80 %>
      </td>
    </tr>
    <tr>
      <th>Pagina Web<span class='ewmsg'>&nbsp;*</span></th>
      <td>
        <%= f.text_field :paginaWeb, :size => 80 %>
      </td>
    </tr>
  </table>
  <p>
    <%= f.submit "Crear" %>
  </p>
<% end %>

<%= link_to 'Ir al listado', admin_institucions_path %>
