<h1>Listing descriptor_especificos</h1>

<table>
  <tr>
    <th>Descriptorespecifico</th>
  </tr>

<% for descriptor_especifico in @descriptor_especificos %>
  <tr>
    <td><%=h descriptor_especifico.descriptorEspecifico %></td>
    <td><%= link_to 'Mostrar', descriptor_especifico %></td>
    <td><%= link_to 'Edit', edit_descriptor_especifico_path(descriptor_especifico) %></td>
    <td><%= link_to 'Destroy', descriptor_especifico, :confirm => 'Esta seguro de borrarlo?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New descriptor_especifico', new_descriptor_especifico_path %>
